<!DOCTYPE html>
<html>
<head>
	<title>The Debate</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-inverse">
  		<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
   		 	<div class="navbar-header">
      	 		<a class="navbar-brand" href="/">Blog</a>
    		</div>
    		<div class = "collapse navbar-collapse">
    			<ul class="nav navbar-nav navbar-right">

                    <form class="navbar-form navbar-left" action="/articles/search" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name = "search">
                        </div>
                        <button type="submit" class="btn btn-default">Go!</button>
                    </form>
                    <% if (!currentUser) {%>
        				<li>
        					<a href="/login">Login</a>
        				</li>
        				<li>
        					<a href="/register">Sign Up</a>
        				</li>
                    <% } else { %>
                        <li>
                            <a href="#"><%= currentUser.username.toUpperCase() %>'s Account</a>
                        </li>
        				<li>
        					<a href="/logout">Logout</a>
        				</li>
                    <% } %>
    			</ul>
    		</div>
    	</div>
    </nav>
    <div class="container">
        <% if (error && error.length > 0 ) {%>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <%}%>
        <% if (success && success.length > 0) {%>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
    </div>
