
#gridRow {
	display: flex;
	flex-wrap: wrap;
}

.rightRadio {
	float: right;
}

.inlineButtons {
	display: inline;
	margin-left: .7em;
}

.panel-danger {
	width: 50%;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.cardHover:hover{
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#cardLink {
    text-decoration: none;
    color: #212529;
}

.icon {
  width: 20px;
  height: 20px;
}

.jumbotronImg {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(https://thumbs.dreamstime.com/b/bulb-164354798.jpg);
}

.boldText {
  font-weight: 700;
}